:root {
    --gray-100: #F2F2F2;
    --gray-200: #D9D9D9;
    --gray-300: #808080;
    --gray-400: #333333;
    --gray-500: #262626;
    --gray-600: #1A1A1A;
    --gray-700: #0D0D0D;
    --blue: #4EA8DE;
    --blue-dark: #1E6F9F;
    --purple-dark: #5E60CE;
    --purple: #8284FA;
    --danger: #E25858
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
}

svg {
    line-height: 0;
}

body {
    background: var(--gray-600)
}

body, input, textarea, button {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem
}

.texto-gray-400 {
    color: var(--gray-400);
}